@import url("reset.css");

:root {
  /* Colors */
  --cyan-600: hsl(192, 37%, 48%);
  --cyan-600-footer: hsla(192, 37%, 48%, 0.9);
  --cyan-300: hsl(192, 90%, 77%);
  --purple-600: hsl(268, 34%, 53%);
  --purple-300: hsl(268, 100%, 86%);
  --slate-900: hsl(240, 21%, 20%);
  --slate-600: hsl(240, 10%, 57%);
  --slate-300: hsl(240, 18%, 85%);
  --white: hsl(0, 0%, 98%);

  /* Spacing Sizes */
  --spacing-50: 4px;
  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-700: 56px;
  --spacing-800: 64px;
  --spacing-900: 72px;
  --spacing-1000: 80px;
  --spacing-1400: 112px;
}

html {
  --font-sans-serif: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  --font-serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman,
    Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
}

body {
  background-color: var(--white);
  color: var(--slate-900);
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-size: 1rem;
  font-weight: 900;
  line-height: 110%;
  text-align: center;
}

/* Utilities */

.only-desktop {
  display: none;

  @media (min-width: 48rem) {
    display: block;
  }
}

/* Components */

button {
  border-radius: 29px;
  padding: var(--spacing-200) var(--spacing-500);
  color: var(--white);
  font-size: 1rem;
  font-weight: 900;
  border: none;
  min-width: fit-content;
}

p {
  font-size: calc(18 * 1rem / 16);
  font-weight: 500;
}

.chapter-marker {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  flex-direction: column;
  position: relative;
  top: calc(var(--spacing-700) / 2);

  .vertical-line {
    border: 1px solid var(--slate-300);
    width: 1px;
    height: var(--spacing-1000);
  }

  .circle {
    border: 1px solid var(--slate-300);
    border-radius: 50%;
    width: var(--spacing-700);
    height: var(--spacing-700);
    display: grid;
    place-items: center;
    background: var(--white);
  }
}

/* Layout */

nav {
  img {
    margin-block-start: var(--spacing-1000);
    margin-inline: auto;
  }
}

.hero {
  justify-content: space-between;
  padding-block-start: var(--spacing-800);
  padding-block-end: var(--spacing-400);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-900) 0;

  @media (min-width: 48rem) {
    padding-block-end: var(--spacing-800);
    flex-direction: row;
    gap: 0 var(--spacing-900);
  }

  h1 {
    font-size: 3rem;
    margin-block-end: var(--spacing-300);
  }

  p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 150%;
    color: var(--slate-600);
    margin-block-end: var(--spacing-300);
  }

  .hero-text {
    padding-inline: var(--spacing-400);
    flex: 0 4.5 auto;
  }

  .hero-avatar-left {
    @media (min-width: 48rem) {
      position: relative;
      bottom: 40px;
      right: 20px;
    }
  }

  .hero-avatar-right {
    @media (min-width: 48rem) {
      position: relative;
      top: 40px;
      left: 20px;
    }
  }

  .hero-buttons {
    gap: var(--spacing-200);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    @media (min-width: 30rem) {
      flex-direction: row;
    }

    button {
      flex: 0 0 auto;
    }

    button:nth-child(1) {
      background-color: var(--cyan-600);
    }
    button:nth-child(2) {
      background-color: var(--purple-600);
    }
  }
}

.main-content {
  padding: var(--spacing-400) var(--spacing-400);
  padding-block-end: var(--spacing-800);
  max-width: 70rem;
  margin: 0 auto;

  @media (min-width: 48rem) {
    padding: var(--spacing-700) var(--spacing-1000);
  }

  .images-gallery {
    display: grid;
    gap: var(--spacing-200);
    margin-block: var(--spacing-800);
    grid-template-columns: repeat(2, 1fr);
    padding-block: var(--spacing-800);

    @media (min-width: 30rem) {
      grid-template-columns: repeat(4, 1fr);
      gap: var(--spacing-300);
    }

    @media (min-width: 48rem) {
      gap: var(--spacing-400);
      padding-inline: var(--spacing-800);
    }

    img {
      border-radius: var(--spacing-100);
      width: 100%;
    }
  }

  h1 {
    font-size: 4rem;
    padding-block-end: var(--spacing-400);
  }

  h3 {
    font-size: 1rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: var(--slate-600);
    padding-block-end: var(--spacing-200);
  }

  p {
    color: var(--slate-600);
  }
}

footer {
  color: var(--white);
  --footer-bg-image: url("assets/mobile/image-footer.jpg");
  background: linear-gradient(var(--cyan-600-footer), var(--cyan-600-footer)),
    var(--footer-bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  padding: var(--spacing-800) var(--spacing-400);

  @media (min-width: 30rem) {
    --footer-bg-image: url("assets/tablet/image-footer.jpg");
  }

  @media (min-width: 48rem) {
    --footer-bg-image: url("assets/desktop/image-footer.jpg");
    padding: var(--spacing-1000) var(--spacing-1400);
  }

  .footer-main {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-300);
    max-width: 70rem;
    margin: 0 auto;
    align-items: center;

    h1 {
      font-weight: 900;
      font-size: calc(40 * 1rem / 16);
    }

    button {
      background-color: var(--purple-600);
    }

    @media (min-width: 48rem) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 0 var(--spacing-400);
      text-align: left;
    }
  }
}
